html, body{
	height: 100%;
	width: 100%;
	background-color: #00001a;
	margin: 0;
	padding: 0;
}
*{
	box-sizing: border-box;
}
.none{
	display: none;
}
.header{
	height: 100px;
	width: 100%;
}
.header-icon{
	height: 80px;
	width: 80px;
	position: absolute;
	top: 20;
	left: 200;
	z-index: 35;
	margin-left: 75px;
}
.header-icon img{
	height: 100%;
	width: 100%;
}
.top-nav-bar{
	height: 100px;
	width: 100%;
	background-color: #222;
	color:  #cca300;
	z-index: 1;
}
.about-nav-bar{
	height: 50px;
	width: 20%;
	border-left: 1px solid #cca300;
	float: right;
	margin-top: 50px;
	padding: 8px;
}
.about-nav-bar:hover{
	background-color: #444;
	font-size: 23px;
	cursor: pointer;
}
.contact-nav-bar{
	height: 50px;
	width: 20%;
	border-left: 1px solid #cca300;
	float: right;
	margin-top: 50px;
	padding: 8px;	
}
.contact-nav-bar:hover{
	background-color: #444;
	font-size: 23px;
	cursor: pointer;
}
.experience-nav-bar{
	height: 50px;
	width: 20%;
	float: right;
	border-left: 1px solid #cca300;
	margin-top: 50px;
	padding: 8px;	
}
.experience-nav-bar:hover {
	background-color: #444;
	font-size: 23px;
	cursor: pointer;
}
.container{
	height: 600px;
}
.img-container {
    height: 550px;
    background-image: url("../img/stang.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0;
    padding: 0;
}
.audio-select{
	height: 200px;
	width:100%;
	background-color: #333;
	padding: 20px;
}
.tabs{
	height: 40px;
}
.stereo-tab{
	height: 100%;
	width: 175px;
	background-color: #333;
	float: left;
	border-top-right-radius: 3em;
	padding: 10px;
}
.speakers-tab{
	height: 100%;
	width: 175px;
	background-color: #333;
	float: left;
	border-top-right-radius: 3em;
	padding: 10px;
}
.subwoofers-tab{
	height: 100%;
	width: 175px;
	background-color: #333;
	float: left;
	border-top-right-radius: 3em;
	padding: 10px;
}
.amps-tab{
	height: 100%;
	width: 175px;
	background-color: #333;
	float: left;
	border-top-right-radius: 3em;
	padding: 10px;
}
.itemDisplay{
	height: 90%;
	width: 40%;
	padding: 10px;
	margin-top: 5px;
	border-right: 1px solid #cca300;
}
.itemDisplay img{
	height: 100%;
	width: 100%;
}
.titleDisplay{
	height: 90%;
	width: 54%;
	padding: 1%;
	color: white;
	float: right;
	margin-top: -144px;
}
.stereo-list{
	float:right
}
.speakers-list{
	float:right
}
.subwoofers-list{
	float: right;
}
.amps-list{
	float:right
}
.row li {
  width: 25%;
  float: left;
}

img {
  border: 0 none;
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
