body, html{
	height: 100%;
	padding: 0;
	margin: 0;
}
body{
	background-image: url("../img/stang.jpg");
	background-size: 100% 60%;
	background-repeat: no-repeat;
	background-position: top;
	color:white;
}
.none{
	display: none !important;
}
.header-icon{
	height: 100%;
}
.navbar-brand{
	padding: 0;
}
.navbar-default{
	background-color: #222;
	border:1px solid #444;
	border-radius: 0px;
}
	background-image: ;
}
a:hover{
	color:#eee !important;
}
img{
	max-width: 500px;
}


.tab-select {
    background: #222;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #777;
    box-shadow: 0 0 10px #222;
}

.container {
    margin-top: 20%;
}
.tab {
    background: #444;
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
    width: 13%;
    justify-content: center;
    cursor: pointer;
}

.api-selection-area {
    height: 250px;
}

.tab-content-area {
    height: 75%;
    background: #222;
}
.tabs {
    height: 25%;
}

.tab.active {
    background: #222;
}

.tab-content {
    height: 100%;
    padding: 50px;
    padding-top: 7%;
}

.tab-content select {
    width: 100%;
}
.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-content-area {
    position: relative;
}

.loader img {
    width: 85%;
    height: 20px;
}

.footer {
    height: 400px;
    background: #222;
}

.footer .container {
    padding: 50px;
}

.footer a {
    color: white;
    display: block;
}
.footer .fa{
	font-size: 25px;
}
.small-img{
    height: 300px;
    padding:.5%;
}
.card{
    height: 200px;
    width: 24%;
    border: 1px solid black;
    border-radius: 14px;
    float: left;
    padding: 4;
}